---
layout: default
permalink: /user/
stylesheets:
  - /css/user.css
js:
#  - https://maps.googleapis.com/maps/api/js
  - /lib/angular/angular.min.js
  - /js/user.js
---


<div data-ng-app="userApp">

  <div class="col-md-4 col-md-offset-1">
    <!-- Help information panel -->
    <div data-ng-controller="helpInfoCtrl">
      <h4>Help Information</h4>
      <ul class="help-info-list">
        <li data-ng-repeat="info in infos">
          <a href="{% raw %}{{ info.href }}{% endraw %}">
            {% raw %}{{ info.label }}{% endraw %}
          </a>
        </li>
      </ul>
      <hr>
    </div>

    <!-- Location finder -->
    <div>
      <div id="map-canvas">
        
      </div><!-- /#map-canvas -->
    </div>
  </div>

  <!-- notices -->
  <div class="col-md-6">

    <div class="notices" data-ng-controller='noticeCtrl'>
      <a href="{% raw %}{{ notice.href }}{% endraw %}"
        data-ng-repeat="notice in notices">
        <div class="notice">
          <p>{% raw %}{{ notice.message }}{% endraw %}</p>
          <span class="timestamp">{% raw %}{{ notice.timestamp }}{% endraw %}</div>
        </div><!-- /.notice -->
      </a>
      
    </div><!-- /.notices -->

  </div>

</div><!-- App -->
